<h1>Directive example *ngfor *ngstyle</h1>
<h1>directive</h1>
<div *ngFor="let emp of employee" >
     <div [ngStyle]="{backgroudColor: emp.Age > 25 ? 'lightgreen' : 'lightblue'}">
     <ul>
          <li>Emp id is : {{emp.id}}</li> 
          <li>Emp name is: {{emp.name}}</li>
          <li [ngStyle]="{color : emp.Age >= 25 ? 'Green' : 'Blue'}">Emp Age is : {{emp.Age}}</li>
          <li>Emp Salary is : {{emp.Salary}}</li>
          <li>Emp Designation is: {{emp.Designation}}</li>
    </ul>
     </div>
</div>

